<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FiguresToJumps</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	Uy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoKCAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
	ZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlYTlNPYmplY3QI
	ERokKTI3SUxRU1ddZGx3fn+AgoeSm7G1wgAAAAAAAAEBAAAAAAAAABoAAAAAAAAAAAAA
	AAAAAADL
	</data>
	<key>FormatVersion</key>
	<integer>5</integer>
	<key>JumpsToTargets</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	Uy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoKCAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
	ZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlYTlNPYmplY3QI
	ERokKTI3SUxRU1ddZGx3fn+AgoeSm7G1wgAAAAAAAAEBAAAAAAAAABoAAAAAAAAAAAAA
	AAAAAADL
	</data>
	<key>LastModified</key>
	<date>2022-05-29T17:20:50Z</date>
</dict>
</plist>
